/node_modules
/public/storage
/storage/*.key
/storage/app/public/uploaded/*
/storage/app/public/converted/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/public/css
/public/js
.idea
.editorconfig
